.container {
}

.form {
  width: 320px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  border: 14px ridge #3ab0ff;
  background: linear-gradient(90deg, #f598a8, #f6edb2);
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input {
  display: flex;
  font-size: inherit;
  margin-top: 10px;
}

.button {
  cursor: pointer;
  width: 210px;
  padding: 10px;
  font-size: inherit;
  font-weight: 500;
  border-radius: 10px;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.button:hover {
  background: linear-gradient(
    45deg,
    #f17c58,
    #e94584,
    #24aadb,
    #27dbb1,
    #ffdc18,
    #ff3706
  );
  color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.2);
}
