ul {
  padding: 0;
}

li {
  list-style: none;
}

.ContactListItem {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.ContactsListText {
  margin-right: 10px;
}

.ContactsListButton {
  width: 80px;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  border-color: 1px black;
  border: 1px solid;
  background-color: rgb(255, 255, 255);
}

.ContactsListButton:hover {
  background-color: #3f51b5;
  color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.2);
}
